In [41]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats  as stats
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#import required libraries
import normalization
import sklearn
from sklearn.feature_extraction.text import CountVectorizer
import utils
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
from pylab import *
from sklearn.manifold import MDS
from sklearn.metrics.pairwise import cosine_similarity
from matplotlib.font_manager import FontProperties
import pandas as pd
import string
from collections import Counter
import pandas as pd
from scipy import sparse

In [34]:
#claims = with open('claims_final.csv', 'r', encoding='utf-8', errors = "ignore") as csvfile

In [35]:
#claims = pd.read_csv('claims_final.csv', encoding='utf8', engine='python')

In [36]:
#claims = pd.read_csv(open('claims_final.csv','rU'), encoding='utf-8', engine='python')

In [109]:
with open('claims_final.csv', mode='r') as employee_file:
    claimsfinal = pd.read_csv(employee_file, header = None)

In [110]:
claimsfinal.columns = ['patientid','familyid','providerid','providertype','state','date','medicalcode','amount']

In [230]:
claimsfinal.head()

,patientid,familyid,providerid,providertype,state,date,medicalcode,amount,med_mean,diff,diff_percent,final_avg,n_patients
0,518632,0,9929,122398719,NY,20060719,282,707.08,677.351910,29.728090,0.043889,-0.014312,9.800000
1,327546,0,2299,122398719,NY,20060526,280,381.37,396.975464,-15.605464,-0.039311,0.024530,11.438596
2,342944,5,5367,122398782,NY,20060817,1688,889.29,1095.147058,-205.857058,-0.187972,0.059486,5.410256
3,342944,5,5367,122398782,NY,20060717,1688,889.29,1095.147058,-205.857058,-0.187972,0.059486,5.410256
4,72526,0,9029,122398719,NY,20060221,562,1681.68,1472.137033,209.542967,0.142339,0.044964,7.940000

In [233]:
df1 = claimsfinal

In [77]:
len(claimsfinal.providertype.unique())

13

In [44]:
len(claimsfinal['providerid'].value_counts())

10025

In [47]:
claimsfinal['providertype'].value_counts()

122398719    3240558
122398807      67712
122398794      56374
122398782      45188
122398769      38308
122401188      20784
122399961       9569
122398744       9537
122398832       5101
122398857       3480
122398819        814
122398757        288
122398732         30
Name: providertype, dtype: int64

In [112]:
#len(claimsfinal['medicalcode'].value_counts())

In [111]:
#sns.violinplot(x='providertype', y='amount',data=claimsfinal, )
plt.show()

In [4]:
clustering = claimsfinal.drop('state',axis = 1)

In [5]:
clustering = clustering.drop('date', axis = 1)

In [6]:
clustering = clustering.drop(['patientid','familyid','providerid'],axis =1)

In [118]:
dbscan = DBSCAN(eps= 1.0, min_samples=2)

In [78]:
dbscan

DBSCAN(algorithm='auto', eps=0.1, leaf_size=30, metric='euclidean',
    metric_params=None, min_samples=200, n_jobs=1, p=None)

In [79]:
data = dbscan.fit(clustering)

In [80]:
labels = data.labels_

In [81]:
len(labels)

3497743

In [82]:
labels

array([-1, -1, -1, ..., -1, -1, -1], dtype=int64)

In [83]:
core_samples = data.core_sample_indices_

In [84]:
core_components = data.components_

In [85]:
n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)
print("Number of clusters formed:", n_clusters_)

Number of clusters formed: 0

In [86]:
y_pred_df_dbscan = pd.DataFrame(dbscan.labels_)

In [87]:
pd.DataFrame(y_pred_df_dbscan[0].value_counts())

          0
-1  3497743

In [10]:
cluster = pd.get_dummies(clustering,columns = ["providertype"])

In [9]:
cluster.shape

(3497743, 15)

In [11]:
cluster2 = pd.get_dummies(cluster,columns = ["medicalcode"])

In [12]:
cluster2.shape

(3497743, 1534)

In [16]:
dbscan = DBSCAN(eps= 10.0, min_samples=10)

In [19]:
#data = dbscan.fit(cluster2)

In [15]:
isolation1 = sklearn.ensemble.IsolationForest(n_estimators=1, random_state=1)

In [14]:
from sklearn import ensemble

In [16]:
isolation1

IsolationForest(bootstrap=False, contamination=0.1, max_features=1.0,
        max_samples='auto', n_estimators=1, n_jobs=1, random_state=1,
        verbose=0)

In [19]:
#dataiso = isolation1.fit(cluster2)

In [18]:
from sklearn.neighbors import LocalOutlierFactor

In [20]:
clf = LocalOutlierFactor(n_neighbors=20)

In [22]:
#y_pred = clf.fit_predict(cluster2)

In [113]:
claimsfinal.head()

,patientid,familyid,providerid,providertype,state,date,medicalcode,amount
0,518632,0,9929,122398719,NY,20060719,282,707.08
1,327546,0,2299,122398719,NY,20060526,280,381.37
2,342944,5,5367,122398782,NY,20060817,1688,889.29
3,342944,5,5367,122398782,NY,20060717,1688,889.29
4,72526,0,9029,122398719,NY,20060221,562,1681.68

In [114]:
final = claimsfinal.providerid.unique()

In [115]:
final

array([ 9929,  2299,  5367, ..., 10793, 12812, 13552], dtype=int64)

In [62]:
len(final)

10025

In [54]:
data = claimsfinal.loc[claimsfinal['providerid'] == 9929]

In [79]:
claimsfinal['providerid'][2]

5367

In [63]:
lengt = data.medicalcode.unique()

In [65]:
len(lengt)

43

In [94]:
data = claimsfinal.loc[claimsfinal['providerid'] == i]
data.iloc[1,3]

122398719

In [89]:
#data

In [116]:
L = []
for i in final:
    data = claimsfinal.loc[claimsfinal['providerid'] == i]
    lengt = data.medicalcode.unique()
    k = len(lengt)
    L.append(k)

In [117]:
len(L)

10025

In [118]:
doctors = pd.DataFrame()

In [119]:
doctors["Providerid"] = final

In [72]:
#data

In [120]:
doctors["skills"] = L

In [140]:
#doctors

In [ ]:
doctors['type'] = doctors.Providerid.apply(lambda x: )

In [122]:
L = []
for i in final:
    data = claimsfinal.loc[claimsfinal['providerid'] == i]
    L.append(data.iloc[0,3])

In [123]:
doctors['type'] = L

In [125]:
#doctors

In [159]:
quiz1 = doctors

In [160]:
quiz1.to_csv('quiz1')

In [132]:
df = claimsfinal

In [133]:
treatments = df.medicalcode.unique()

cost = {}
for e in treatments:
    sliced_df = df.loc[df['medicalcode'] == e]
    cost[e] = sliced_df.amount.mean()

df['med_mean'] = df.medicalcode.apply(lambda x: cost[x])

df['diff'] = df['amount'] - df['med_mean']

df['diff_percent'] = df['diff']/df['med_mean']

In [155]:
df.head()

,patientid,familyid,providerid,providertype,state,date,medicalcode,amount,med_mean,diff,diff_percent,final_avg,n_patients
0,518632,0,9929,122398719,NY,20060719,282,707.08,677.351910,29.728090,0.043889,-0.014312,9.800000
1,327546,0,2299,122398719,NY,20060526,280,381.37,396.975464,-15.605464,-0.039311,0.024530,11.438596
2,342944,5,5367,122398782,NY,20060817,1688,889.29,1095.147058,-205.857058,-0.187972,0.059486,5.410256
3,342944,5,5367,122398782,NY,20060717,1688,889.29,1095.147058,-205.857058,-0.187972,0.059486,5.410256
4,72526,0,9029,122398719,NY,20060221,562,1681.68,1472.137033,209.542967,0.142339,0.044964,7.940000

In [136]:
doctorss = df.providerid.unique()
cost2 = {}
for e in doctorss:
    sliced_df = df.loc[df['providerid'] == e]
    cost2[e] = sliced_df.diff_percent.mean()

df['final_avg'] = df.providerid.apply(lambda x: cost2[x])

In [154]:
cost1 = {}

for e in doctorss:
    sliced_df = df.loc[df['providerid'] == e]
    cost1[e] = len(sliced_df)/(len(set(sliced_df['patientid'])))

df['n_patients'] = df.providerid.apply(lambda x: cost1[x])

In [152]:
len(df)

3497743

In [156]:
L = []
for i in final:
    data = df.loc[df['providerid'] == i]
    L.append(data.iloc[0,12])

In [143]:
#L

In [157]:
doctors['noofpatients'] = L

In [146]:
L = []
for i in final:
    data = df.loc[df['providerid'] == i]
    L.append(data.iloc[0,11])

In [148]:
doctors['amount'] = L

In [171]:
doctors.head()

   skills       type  noofpatients    amount
0      43  122398719      9.800000  0.985688
1      44  122398719     11.438596  1.024530
2      11  122398782      5.410256  1.059486
3      36  122398719      7.940000  1.044964
4      47  122398719      8.480620  1.137230

In [161]:
doctors['amount'] = doctors['amount'] + 1

In [170]:
doctors = doctors.drop('Providerid',axis=1)

In [172]:
doctors = pd.get_dummies(doctors,columns = ["type"])

In [173]:
doctors

,skills,noofpatients,amount,type_122398719,type_122398732,type_122398744,type_122398757,type_122398769,type_122398782,type_122398794,type_122398807,type_122398819,type_122398832,type_122398857,type_122399961,type_122401188
0,43,9.800000,0.985688,1,0,0,0,0,0,0,0,0,0,0,0,0
1,44,11.438596,1.024530,1,0,0,0,0,0,0,0,0,0,0,0,0
2,11,5.410256,1.059486,0,0,0,0,0,1,0,0,0,0,0,0,0
3,36,7.940000,1.044964,1,0,0,0,0,0,0,0,0,0,0,0,0
4,47,8.480620,1.137230,1,0,0,0,0,0,0,0,0,0,0,0,0
5,102,13.230159,1.038962,1,0,0,0,0,0,0,0,0,0,0,0,0
6,90,9.755444,1.028943,1,0,0,0,0,0,0,0,0,0,0,0,0
7,43,12.153846,0.900621,1,0,0,0,0,0,0,0,0,0,0,0,0
8,68,8.037500,0.971580,1,0,0,0,0,0,0,0,0,0,0,0,0
9,51,9.900000,0.832424,1,0,0,0,0,0,0,0,0,0,0,0,0
10,50,7.540984,0.989571,1,0,0,0,0,0,0,0,0,0,0,0,0
11,34,8.096774,1.040763,1,0,0,0,0,0,0,0,0,0,0,0,0
12,8,3.333333,1.119264,0,0,0,0,0,0,0,0,0,0,0,1,0
13,63,4.916667,1.059696,1,0,0,0,0,0,0,0,0,0,0,0,0
14,37,10.555556,0.791468,1,0,0,0,0,0,0,0,0,0,0,0,0
15,45,7.806452,1.104503,1,0,0,0,0,0,0,0,0,0,0,0,0
16,64,8.757143,0.967277,1,0,0,0,0,0,0,0,0,0,0,0,0
17,24,3.176471,0.784089,1,0,0,0,0,0,0,0,0,0,0,0,0
18,28,7.333333,0.848725,1,0,0,0,0,0,0,0,0,0,0,0,0
19,20,6.666667,0.963138,1,0,0,0,0,0,0,0,0,0,0,0,0
20,48,13.341772,0.985246,1,0,0,0,0,0,0,0,0,0,0,0,0
21,26,7.000000,1.021612,1,0,0,0,0,0,0,0,0,0,0,0,0
22,78,8.412556,1.013914,1,0,0,0,0,0,0,0,0,0,0,0,0
23,48,9.370370,1.016289,1,0,0,0,0,0,0,0,0,0,0,0,0
24,30,2.218284,1.075588,0,0,0,0,0,0,0,1,0,0,0,0,0
25,40,14.080000,1.001752,1,0,0,0,0,0,0,0,0,0,0,0,0
26,51,12.937500,1.010475,1,0,0,0,0,0,0,0,0,0,0,0,0
27,55,9.176000,1.098449,1,0,0,0,0,0,0,0,0,0,0,0,0
28,41,9.155556,0.980979,1,0,0,0,0,0,0,0,0,0,0,0,0
29,43,10.176471,0.844527,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,1.000000,0.840281,0,0,0,0,0,1,0,0,0,0,0,0,0
9996,1,1.000000,0.958449,0,0,0,0,0,0,0,0,0,0,0,1,0
9997,2,3.000000,0.936537,1,0,0,0,0,0,0,0,0,0,0,0,0
9998,1,1.000000,0.669885,1,0,0,0,0,0,0,0,0,0,0,0,0
9999,2,2.000000,0.988181,1,0,0,0,0,0,0,0,0,0,0,0,0
10000,1,1.000000,0.601401,1,0,0,0,0,0,0,0,0,0,0,0,0
10001,1,1.000000,0.621994,0,0,0,0,0,0,0,0,0,0,0,1,0
10002,1,1.000000,1.006230,0,0,0,0,0,0,0,0,0,0,0,1,0
10003,1,1.000000,1.093930,1,0,0,0,0,0,0,0,0,0,0,0,0
10004,1,1.000000,1.155397,1,0,0,0,0,0,0,0,0,0,0,0,0
10005,1,1.000000,0.852783,0,0,0,0,0,0,0,0,0,0,0,1,0
10006,1,1.000000,0.977898,1,0,0,0,0,0,0,0,0,0,0,0,0
10007,1,1.000000,1.110458,0,0,0,0,0,0,0,0,0,0,0,1,0
10008,1,1.000000,1.035746,0,0,0,0,0,0,0,0,0,0,1,0,0
10009,1,1.000000,0.909287,1,0,0,0,0,0,0,0,0,0,0,0,0
10010,1,1.000000,1.005453,1,0,0,0,0,0,0,0,0,0,0,0,0
10011,1,1.000000,1.131794,0,0,0,0,0,0,1,0,0,0,0,0,0
10012,1,1.000000,1.010088,0,0,0,0,0,0,0,0,0,0,0,1,0
10013,1,1.000000,0.807315,0,0,0,0,0,1,0,0,0,0,0,0,0
10014,1,1.000000,0.878748,0,0,0,0,0,0,0,0,0,0,0,1,0
10015,1,1.000000,1.105235,0,0,0,0,0,0,0,0,0,0,1,0,0
10016,1,1.000000,0.994743,0,0,0,0,0,1,0,0,0,0,0,0,0
10017,1,1.000000,0.905070,0,0,0,0,1,0,0,0,0,0,0,0,0
10018,1,1.000000,0.987712,0,0,0,0,0,0,0,0,0,0,0,1,0
10019,1,1.000000,0.939224,1,0,0,0,0,0,0,0,0,0,0,0,0
10020,1,1.000000,0.591854,0,0,0,0,0,0,0,0,0,0,1,0,0
10021,1,1.000000,0.917685,1,0,0,0,0,0,0,0,0,0,0,0,0
10022,1,1.000000,0.908582,0,0,0,0,0,0,0,0,0,1,0,0,0
10023,1,1.000000,1.260594,0,0,0,0,0,0,0,0,0,0,0,1,0
10024,1,1.000000,0.912951,0,0,0,0,0,0,0,0,0,0,0,1,0

In [175]:
from sklearn.neighbors import LocalOutlierFactor

In [176]:
clf = LocalOutlierFactor(n_neighbors=20)

In [177]:
y_lof = clf.fit_predict(doctors)

In [178]:
y_pred

array([ 1,  1, -1, ..., -1, -1,  1])

In [179]:
from sklearn import ensemble
isolation1 = sklearn.ensemble.IsolationForest(n_estimators=100, random_state=1)

In [181]:
y_iso = isolation1.fit(doctors)

In [182]:
y_iso

IsolationForest(bootstrap=False, contamination=0.1, max_features=1.0,
        max_samples='auto', n_estimators=100, n_jobs=1, random_state=1,
        verbose=0)

In [185]:
from sklearn  import covariance
from sklearn.covariance import EmpiricalCovariance, MinCovDet

In [187]:
robust_cov = MinCovDet().fit(doctors)

# compare estimators learnt from the full data set with true parameters
emp_cov = EmpiricalCovariance().fit(doctors)

In [190]:
scores = emp_cov.mahalanobis(doctors)

In [194]:
test = doctors
test['scores'] = scores
test.head()

,skills,noofpatients,amount,type_122398719,type_122398732,type_122398744,type_122398757,type_122398769,type_122398782,type_122398794,type_122398807,type_122398819,type_122398832,type_122398857,type_122399961,type_122401188,scores
0,43,9.800000,0.985688,1,0,0,0,0,0,0,0,0,0,0,0,0,0.702853
1,44,11.438596,1.024530,1,0,0,0,0,0,0,0,0,0,0,0,0,1.555510
2,11,5.410256,1.059486,0,0,0,0,0,1,0,0,0,0,0,0,0,29.377466
3,36,7.940000,1.044964,1,0,0,0,0,0,0,0,0,0,0,0,0,0.621313
4,47,8.480620,1.137230,1,0,0,0,0,0,0,0,0,0,0,0,0,2.889307

In [225]:
result = test.sort_values(['scores'])
result.head()

,skills,noofpatients,amount,type_122398719,type_122398732,type_122398744,type_122398757,type_122398769,type_122398782,type_122398794,type_122398807,type_122398819,type_122398832,type_122398857,type_122399961,type_122401188,scores
4529,33,7.777778,0.985501,1,0,0,0,0,0,0,0,0,0,0,0,0,0.241594
155,32,7.692308,0.977467,1,0,0,0,0,0,0,0,0,0,0,0,0,0.242489
65,32,8.069767,0.985680,1,0,0,0,0,0,0,0,0,0,0,0,0,0.246838
5723,32,7.553191,0.981490,1,0,0,0,0,0,0,0,0,0,0,0,0,0.247196
1811,33,7.723404,0.973900,1,0,0,0,0,0,0,0,0,0,0,0,0,0.249797

In [203]:
from sklearn import preprocessing
test1 =test
x = test1.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
test1 = pd.DataFrame(x_scaled)

In [204]:
robust_cov = MinCovDet().fit(test1)

# compare estimators learnt from the full data set with true parameters
emp_cov = EmpiricalCovariance().fit(test1)

In [205]:
scores1 = emp_cov.mahalanobis(test1)
test1['scores'] = scores1

In [238]:
test1 = test1.sort_values(['scores'],ascending=False)
test1['Provider Id'] = test1.index.values

In [243]:
test1['Rank'] = list(range(1,len(test1)+1))

In [245]:
test1.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,scores,Provider Id,Rank
2039,0.102740,0.136786,0.551710,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000005,0.605723,2039,10021
6890,0.095890,0.141252,0.553938,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000005,0.604188,6890,10022
981,0.106164,0.143003,0.560637,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000005,0.603158,981,10023
5126,0.106164,0.141252,0.557538,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000005,0.601093,5126,10024
3092,0.102740,0.144130,0.558167,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000004,0.597094,3092,10025

In [247]:
test2 = test1[["Provider Id","Rank"]]

In [248]:
test2.head()

      Provider Id  Rank
6475         6475     1
129           129     2
5977         5977     3
5884         5884     4
6291         6291     5

In [249]:
test2.to_csv('file1')

In [ ]:
test1.to_csv('file1')

In [226]:
List = test1.head(25).index.values
test.ix[List]

,skills,noofpatients,amount,type_122398719,type_122398732,type_122398744,type_122398757,type_122398769,type_122398782,type_122398794,type_122398807,type_122398819,type_122398832,type_122398857,type_122399961,type_122401188,scores
6475,13,2.307692,0.992841,0,1,0,0,0,0,0,0,0,0,0,0,0,10024.000000
129,293,3.932945,0.775384,1,0,0,0,0,0,0,0,0,0,0,0,0,303.111194
5977,1,45.500000,0.932213,0,0,0,0,0,1,0,0,0,0,0,0,0,218.491399
5884,6,1.128205,1.280886,0,0,0,0,0,0,0,0,1,0,0,0,0,1260.462024
6291,8,1.875000,1.275138,0,0,0,0,0,0,0,0,1,0,0,0,0,1260.099818
7800,3,1.086957,0.705124,0,0,0,0,0,0,0,0,1,0,0,0,0,1259.233878
1071,11,2.930000,0.840686,0,0,0,0,0,0,0,0,1,0,0,0,0,1254.105841
9461,1,1.000000,0.847010,0,0,0,0,0,0,0,0,1,0,0,0,0,1253.886617
3991,24,4.391304,1.051104,0,0,0,0,0,0,0,0,1,0,0,0,0,1253.444686
3964,9,1.178571,0.919552,0,0,0,0,0,0,0,0,1,0,0,0,0,1252.583069
9651,1,1.000000,0.939058,0,0,0,0,0,0,0,0,1,0,0,0,0,1252.423447
9456,5,1.250000,1.280046,0,0,0,1,0,0,0,0,0,0,0,0,0,1003.917970
9649,2,1.000000,0.971594,0,0,0,1,0,0,0,0,0,0,0,0,0,1003.546788
9206,4,2.000000,0.987573,0,0,0,1,0,0,0,0,0,0,0,0,0,1003.091063
9718,1,1.000000,0.990409,0,0,0,1,0,0,0,0,0,0,0,0,0,1003.069534
8650,3,1.100000,1.215870,0,0,0,1,0,0,0,0,0,0,0,0,0,1002.428887
4589,11,1.333333,1.206715,0,0,0,1,0,0,0,0,0,0,0,0,0,1002.295963
8294,3,3.000000,1.048981,0,0,0,1,0,0,0,0,0,0,0,0,0,1002.172537
8708,10,2.500000,1.177589,0,0,0,1,0,0,0,0,0,0,0,0,0,1001.872432
6335,12,2.321429,1.167571,0,0,0,1,0,0,0,0,0,0,0,0,0,1001.805591
7299,7,1.818182,1.145169,0,0,0,1,0,0,0,0,0,0,0,0,0,1001.563707
9864,1,1.000000,0.279847,0,0,0,0,0,0,0,0,0,0,1,0,0,332.862653
9766,1,1.000000,0.041601,1,0,0,0,0,0,0,0,0,0,0,0,0,85.604643
9108,1,1.000000,0.447492,0,0,0,0,0,0,0,0,0,0,1,0,0,315.455938
8910,1,1.000000,1.254885,0,0,0,0,0,0,0,0,0,0,1,0,0,304.838335

In [228]:
df_new = doctors[['noofpatients','amount']]

In [288]:
df1.head()

,patientid,familyid,providerid,providertype,date,final_avg,n_patients
0,518632,0,9929,122398719,20060719,0.985688,9.800000
1,327546,0,2299,122398719,20060526,1.024530,11.438596
2,342944,5,5367,122398782,20060817,1.059486,5.410256
3,342944,5,5367,122398782,20060717,1.059486,5.410256
4,72526,0,9029,122398719,20060221,1.044964,7.940000

In [253]:
df1 = df1.drop(["state","medicalcode","amount","med_mean","diff","diff_percent"], axis = 1)

In [289]:
df1.to_csv("df1")

In [236]:
names = df1.columns
names

Index(['patientid', 'familyid', 'providerid', 'providertype', 'state', 'date',
       'medicalcode', 'amount', 'med_mean', 'diff', 'diff_percent',
       'final_avg', 'n_patients'],
      dtype='object')

In [272]:
df1['final_avg'] = df1['final_avg'] +1

In [273]:
df_case1 = df1.loc[df1['providertype'] == 122398719]

In [274]:

df_case1.head()

,patientid,familyid,providerid,providertype,date,final_avg,n_patients
0,518632,0,9929,122398719,20060719,0.985688,9.800000
1,327546,0,2299,122398719,20060526,1.024530,11.438596
4,72526,0,9029,122398719,20060221,1.044964,7.940000
5,234943,1,10215,122398719,20060615,1.137230,8.480620
6,375277,2,3939,122398719,20060413,1.038962,13.230159

In [275]:
# df_case1.set_index(df_case1['patientid'])

In [276]:
df_case1_model = df_case1[['final_avg','n_patients']]
df_case1_model.head()

   final_avg  n_patients
0   0.985688    9.800000
1   1.024530   11.438596
4   1.044964    7.940000
5   1.137230    8.480620
6   1.038962   13.230159

In [279]:
test1 =df_case1_model

In [280]:
x = test1.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
test1 = pd.DataFrame(x_scaled)

In [283]:
from sklearn.covariance import EmpiricalCovariance, MinCovDet
robust_cov = MinCovDet().fit(test1)

KeyboardInterrupt:

In [ ]:
# compare estimators learnt from the full data set with true parameters
emp_cov = EmpiricalCovariance().fit(test1)

scores1 = emp_cov.mahalanobis(test1)
df_case1_model['scores'] = scores1

In [ ]:
df_case1['scores'] = scores1
df_case1 = df_case1.sort_values(['scores'],ascending=False)

In [ ]:
test1 = df_case1[:100]

In [287]:
df_case1.to_csv('case1')